{{> head}}
{{>navbar}}

<div class="row m-0 p-0">
    <div class="col-8">
        <h1>Holaaaa</h1>
        <p>{{capitalize "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est consequatur quod officia aperiam. Nobis
            voluptatem repellat culpa natus, voluptates quibusdam inventore cum voluptatum est consequatur magnam fugiat
            at. Possimus commodi omnis dignissimos magnam deserunt in accusamus iusto enim, ut officia quas ipsum at
            tenetur deleniti provident atque accusantium maxime tempore?"}}</p>
    </div>
    <div class="col-4">
        <img src="assets/img/profile-min.png" class="img-thumbnail p-0 m-0">
    </div>
</div>


{{>footer}}